aiohttp==3.7.4.post0
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
chardet==4.0.0
Django==3.1.7
django-rest-framework==0.1.0
djangorestframework==3.12.4
idna==3.1
jdatetime==3.6.2
multidict==5.1.0
pytz==2021.1
sqlparse==0.4.1
telepot==12.7
typing-extensions==3.7.4.3
urllib3==1.26.4
yarl==1.6.3
